@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


// body {
//   display: block;
//   margin: 8px;
// }

a {
  text-decoration: none;
  // background-color: transparent;
}

.navbar {
  position: relative;
  padding: 0.5rem 1rem;
}